.topnav {
    background-color: black;
    size: 300px;
    width: 1342px;
}

@media screen and (max-width: 900px) {
    .topnav {
        background-color: black;
        size: 100px;
        width: 340px;
    }
    .topnav img {
        margin: 0px;
        size: 300px;
        width: 340px;
    }
}

@media (max-width:1200px) {
    .topnav {
        background-color: black;
        size: 100px;
        width: 380px;
    }
    .topnav img {
        margin: 0px;
        size: 300px;
        width: 378px;
    }
}

@media (max-width:1500px) {
    .topnav {
        background-color: black;
        size: 100px;
        width: 410px;
    }
    .topnav img {
        margin: 0px;
        size: 300px;
        width: 410px;
    }
}

.informacoes {
    background-color: black;
    text-align: center;
    margin: 0px;
}

.endereco {
    background-color: black;
    color: white;
    text-align: center;
}

.horario {
    background-color: black;
    text-align: center;
    color: white;
}

.agendamento {
    background-color: black;
    text-align: center;
    color: white;
}

.footer {
    background-color: black;
    margin-left: 300px;
}

@media screen and (max-width: 900px) {
    .footer {
        display: flex;
        margin-left: 110px;
    }
    .footer img {
        size: 60px;
        width: 50px;
    }
}

@media (max-width:1200px) {
    .footer {
        display: flex;
        margin-left: 110px;
    }
    .footer img {
        size: 60px;
        width: 50px;
    }
}

@media (max-width:1500px) {
    .footer {
        display: flex;
        margin-left: 110px;
    }
    .footer img {
        size: 60px;
        width: 50px;
    }
}